{{template "base-start" .}}
{{template "header" .}}
<div class="main-body">
{{template "sidebar-code"}}

	<div class="inner-body">
		<h3 id="h3program" style="font-weight: normal; margin-bottom: 0.5em;">Yo:</h3>
		<input type="text" id="inputText" onkeydown="if (event.keyCode == 13) document.getElementById('enterbutton').click()" style="width: 20em;"/>
		<button id="enterbutton">Start</button>
		<button onclick="document.getElementById('outputText').innerHTML = ''">Clear</button>
		<p id="outputText"></p>
	</div>

</div>
<script src="/files/js/daniel/daniel.js"></script>
{{template "base-end" .}}