{{template "base-start" .}}
{{template "header" .}}
<div class="main-body">
{{template "kode-sidebar"}}
	<div class="inner-body">
		
		<div id="jsbox" style="display: table; margin-bottom: 1rem; width: 100%;">
		</div>
		
		<div style="display: table; margin-bottom: 1rem; width: 100%;">
			<button type="button" style="width: 10rem;" onclick="eval(document.getElementById('jsinput').innerHTML);">Kør</button>
			<textarea class="subtle-input" id="jsinput" style="width: 100%; height: 32rem;">document.getElementById('jsbox').innerHTML = "Hej du";</textarea>
		</div>

	</div>
</div>
<script src="/files/js/golanguage/golanguage.js"></script>
{{template "base-end" .}}