{{template "base-start" .}}
{{template "header" .}}
<div class="main-body">
{{template "sidebar-code"}}
	<div class="inner-body">

		<div style="display: table; margin-bottom: 1rem; width: 100%;">
			<button id="genebutton" type="button" style="width: 10rem;" onclick="document.getElementById('geneinput').style.display='block';document.getElementById('genebutton').style.display='none';">Modify genes</button>
			<div id="geneinput" style="display: none;">
				<textarea class="subtle-input" id="genes" style="width: 100%; height: 8rem;">[
{"Name":"Organer", "Energy":5, "CON": 6, "WeightClass":10},
{"Name":"Muskler", "STR":4, "DEX":4, "WeightClass":10},
{"Name":"Massivitet", "STR":4, "DEX":-2, "CON":2, "Energy":10, "WeightClass":20},
{"Name":"Spinkelthed", "STR":-2, "DEX":4, "CON":-2, "Energy":-5, "WeightClass":-10},
{"Name":"Endoskelet", "STR":2, "DEX":4, "CON": 2, "WeightClass":10},
{"Name":"Exoskelet", "STR":4, "DEX":2, "CON": 4, "WeightClass":15},
{"Name":"Lunger", "Energy":5, "WeightClass":1, "Abilities": ["Trække vejret i luft", "Holde vejret", "Dør uden luft"]},
{"Name":"Hud", "CON": 6, "WeightClass":2},
{"Name":"To ben", "STR":2, "DEX":4, "WeightClass":4, "Abilities": ["Gå", "Løbe"]},
{"Name":"Fire ben", "STR":4, "DEX":2, "WeightClass":8, "Abilities": ["Gå", "Løbe"]},
{"Name":"Seks+ ben", "STR":6, "WeightClass":12, "Abilities": ["Gå", "Løbe"]},
{"Name":"To arme", "STR":2, "DEX":4, "WeightClass":3, "Abilities": ["Holde op til to ting"]},
{"Name":"Fire+ arme", "STR":2, "DEX":4, "WeightClass":6, "Abilities": ["Holde op til fire ting"]},
{"Name":"Kødædende", "Energy":5, "WeightClass":1, "Abilities": ["Kan spise kød"]},
{"Name":"Grovplanteædende", "Energy":5, "WeightClass":4, "Abilities": ["Kan spise græs, blade, etc"]},
{"Name":"Finplanteædende", "Energy":5, "WeightClass":3, "Abilities": ["Kan spise frugter, rødder, etc"]},
{"Name":"Altædende", "Energy":5, "WeightClass":2, "Abilities": ["Kan spise kød, frugter, rødder, etc"]},				
{"Name":"Hænder", "DEX":1, "WeightClass":1, "Abilities": ["Kan håndtere ting"]}
]</textarea>
				<button id="updategenesbutton" type="button" style="width: 10rem;">Update genes</button>
			</div>
		</div>

		<div id="buttonplace" style="display: table; float: left; margin-right: 1rem; width: 10rem;">
		</div>

		<div id="otherplace" style="display: table;">
			<p id="outputText"></p>
		</div>

	</div>
</div>
<script src="/static/js/waeraeld/waeraeld.js"></script>
{{template "base-end" .}}
