{{template "base-start" .}}
{{template "header" .}}
<div class="main-body">
	{{template "sidebar" .}}
	<div class="inner-body">
		{{range $index, $thread := .Threads}}
			<div class="thread-entry" onclick="location.href='/beskeder/{{$thread.ID}}'">
				<div class="thread-title-line">
					<div class="thread-title">
						{{.Title}}
					</div>
					<div class="thread-author">
						{{.Author}}
					</div>
				</div>
				
				<div class="thread-body">
					{{$thread.Markdown}}
				</div>
			</div>
		{{end}}
	</div>
</div>
{{template "base-end" .}}