{{template "base-start" .}}
{{template "header" .}}
<div class="main-body">
	{{template "sidebar" .}}
	<div class="inner-body">
		<form action="/beskeder/add" method="post">
			<input class="subtle-input" type="text" id="title" name="title" placeholder="Titel" style="width: 100%; font-size: 1.5rem;"/>
			<textarea class="subtle-input" id="message" name="message" placeholder="Besked" style="width: 100%; height: 8rem;"></textarea>
			<label>Sektion:</label>
			<select name="section">
				<option value="andet" selected>Andet</option>
				<option value="festeri">Festeri</option>
				<option value="opskrifter">Opskrifter</option>
			</select>
			<input type="submit" name="beskeder" value="Send"/>
		</form>
	</div>
</div>
{{template "base-end" .}}